<nav class="border border-b-2 shadow-sm">
  <div class="container flex justify-between items-center px-6 py-4">
    <div>
      <h1 class="text-xl md:text-2xl font-bold">
        <a routerLink="/">Nx Ecommerce</a>
      </h1>
    </div>
    <div
      *ngIf="authService.currentUser() === null"
      class="flex gap-3 items-center"
    >
      <button hlmBtn variant="outline" routerLink="/auth">Login</button>
      <button hlmBtn routerLink="/auth">Sign Up</button>
    </div>
    <div *ngIf="authService.currentUser()" class="flex gap-3 items-center">
      {{ authService.currentUser()?.email }}
      <button hlmBtn variant="outline" (click)="logout()">Logout</button>
    </div>
  </div>
</nav>
